.applicationWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 210px;
}

.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  text-align: center;
  line-height: 90px;
  background-color: burlywood;
  color:rgb(66, 144, 207);
}